node_modules/
.idea/
.vagrant/
coverage/
dist/

# Yarn berry without Zero-Installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*


# Parcel stuff
.parcel-cache
