name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }} # ignore commits with `[skip ci]`

    runs-on: ubuntu-latest

    steps:
      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'

      - name: Checkout
        uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: restore lerna
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: yarn bin paths
        run: |
          echo "$(yarn global bin)" >> $GITHUB_PATH
          echo "$(yarn bin)" >> $GITHUB_PATH

      - name: Bootstrap
        run: |
          yarn install --frozen-lockfile --check-files --prefer-offline
          lerna bootstrap -- --frozen-lockfile --check-files --prefer-offline

      - name: Lerna Lint
        run: lerna run lint -- -f ../../.github/eslint-formatter-github.js

  test:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }} # ignore commits with `[skip ci]`

    runs-on: ubuntu-latest

    steps:
      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'

      - name: Checkout
        uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: restore lerna
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: yarn bin paths
        run: |
          echo "$(yarn global bin)" >> $GITHUB_PATH
          echo "$(yarn bin)" >> $GITHUB_PATH

      - name: Bootstrap
        run: |
          yarn install --frozen-lockfile --check-files --prefer-offline
          lerna bootstrap -- --frozen-lockfile --check-files --prefer-offline

      - name: Lerna Test
        run: lerna run test -- --reporters=../../.github/jest-github-reporter.js

      - name: Coverage Upload
        continue-on-error: true
        uses: codecov/codecov-action@v1
